<h2>Create Poll</h2>
<form [formGroup]="createPollForm">
  <label for="title">Title</label>
  <input id = "title" type="text" formControlName = "title">

  <label for="description">Description</label>
  <input id = "description" type="text" formControlName = "description">

  <label for="startTime">Start Time</label>
  <input id="startTime" type="datetime-local" formControlName = "startTime"/>

  <label for="endTime">End Time</label>
  <input id="endTime" type="datetime-local" formControlName = "endTime"/>

  <button type="button" (click)="createPoll()">Create</button>
</form>

<form [formGroup]="nomineeForm">
  <div formArrayName="nominees">
    <div
      *ngFor="let nomineeGroup of nominees?.controls; let i = index"
      [formGroupName]="i"
    >
      <h3>Nominee - {{i + 1}}</h3>
      <input type="text" formControlName="nominee" placeholder="Enter Nominee" />
    </div>
  </div>
  <button (click)="addNominee()">Add Nominee</button>
</form>
