<h2>Create Poll</h2>

<h3>Poll Details</h3>
<form [formGroup]="createPollForm">
  <label for="title">Title</label>
  <input id = "title" type="text" formControlName = "title" required>

  <label for="description">Description</label>
  <input id = "description" type="text" formControlName = "description">

  <label for="startTime">Voting Opening Time</label>
  <input id="startTime" type="datetime-local" formControlName = "startTime" required/>

  <label for="endTime">Voting Cutoff Time</label>
  <input id="endTime" type="datetime-local" formControlName = "endTime" required/>

  <label for="nominationEndTime">Nomination Cutoff Time</label>
  <input id="nominationEndTime" type="datetime-local" formControlName="nominationEndTime" required/>
</form>

<h3>Nominees</h3>
<form [formGroup]="nomineeForm">
  <section formArrayName="nominees">
    <div
      *ngFor="let nomineeGroup of nominees?.controls; let i = index"
      [formGroupName]="i"
    >
      <h3>Nominee - {{i + 1}}</h3>
      <input type="text" formControlName="nominee" placeholder="Enter Nominee" />
    </div>
  </section>
  <button (click)="addNominee()">Add Nominee</button>
  <button (click)="removeNominee()">Remove Nominee</button>
</form>

<h3>Restrictions</h3>
<form [formGroup]="restrictionsForm">
  <section formArrayName="restrictions">
    <div *ngFor="let restrictionGroup of restrictions?.controls; let i = index"
         [formGroupName]="i">
      <h3>Restriction - {{i + 1}}</h3>
      <label for="firstName">First Name</label>
      <input id = "firstName" type="text" formControlName = "firstName">

      <label for="lastName">Last Name</label>
      <input id = "lastName" type="text" formControlName = "lastName">

      <label for="sex">Select a sex to restrict to:</label>
      <select id="sex" formControlName = "sex">
        <option value="">Neither</option>
        <option value="true">Male</option>
        <option value="false">female</option>
      </select>

      <label for="dateOfBirthOlderThan">Date Of Birth Older Than</label>
      <input id="dateOfBirthOlderThan" type="date" formControlName = "dateOfBirthOlderThan"/>

      <label for="dateOfBirthYoungerThan">Date Of Birth Younger Than</label>
      <input id="dateOfBirthYoungerThan" type="date" formControlName = "dateOfBirthYoungerThan"/>
    </div>
  </section>
  <button (click)="addRestriction()">Add Restriction</button>
  <button (click)="removeRestriction()">Remove Restriction</button>
</form>

<button type="button" (click)="createPoll()">Create</button>

